
@import url('https://fonts.googleapis.com/css?family=Roboto');

body{margin-left: 50px;
margin-right: 50px;}

.title{color:red;
text-align:center;
padding: 20px;
border-style: solid;
background-image: url("https://static.independent.co.uk/s3fs-public/styles/article_small/public/thumbnails/image/2016/03/10/18/mona-lisa.jpg")
;}

.description {margin-right: 300px;
	width: 300px;
	float:left;
}

#new-lisa {text-align: center;}

#mona-pic {float:left;
margin-right: 100px
padding:5px;
border-style: outset;}

#look-like{float:left;
margin-right: 100px;
text-align: center}

.conclusion{clear:both;
margin-top: 100px;}

.shrine-introduction {text-align: center;}

#books-grand-title {margin-left: 50px;}

.nav-bar
	{text-align: center;
		border:outset ;
		margin-left: 150px;
		margin-right:150px;}


#books-pic {
height:300px;
width:auto;
float:left;
padding-bottom: 10px;
padding-right: 20px;
clear: left;}

.books-desc {
font-family: roboto;
font-size: 14px;
width:900px;
height:300px;
padding-top: 10px;
margin-left: 50px;
padding-bottom: 10px;
margin-bottom: 10px;
}





